<div class="top" ><!--  とりあえず画像とか決まるまで代用 -->
  <h1 class="top_copy">Make</br>with</br>Buddy</h1>
  <% @page_title = "Make with Buddy" %>
  <%= image_tag(image_path("yzkgym_top"), alt:"top", :class => "top_image") %>
</div>
<section class="news_area" >
  <div class="news_area2">
    <h1 class="news_title">お知らせ</h1>
    <ul class="news_list">
      <li class="news_item">
        <p class="news_date">2018/05/13</p>
        <p class="news_subtitle">柚希未結生誕・引退ライブ参加のお知らせ</p>
        <p class="news_description">5/20(日)柚希未結生誕・引退ライブ<br/>「Fight with Buddy～最終決戦!!!!!～」<br/>@渋谷WWW<br/>
        op 13:30 st 14:00 end 21:00<br/><br/>
          柚希ジム一同で参加いたします。<br/><br/>
        チケットは下記サイトで購入できます。ぜひ一緒に楽しみましょう！<br/>
        <a href="http://sort.eplus.jp/sys/T1U14P0010163P0108P002247975P0050001P006001P0030001" target="_blank">eplusへ</a></p>
      </li>
      <hr class="news_border">
      <li class="news_item">
        <p class="news_date">2018/5/13</p>
        <p class="news_subtitle">弊社コーポレートサイトを開設いたしました</p>
        <p class="news_description">柚希ジム プログラミング研修の一環として、コーポレートサイトを開設いたしました。</p>
      </li>
      <hr class="news_border">
      <li class="news_item">
        <p class="news_date">2016/10/29</p>
        <p class="news_subtitle">幻影ギャラクティカフリコピ選手権出場</p>
        <p class="news_description">27時間HNG2016 内の『幻影ギャラクティカフリコピ選手権』に出場いたしました。<br/>
        優勝することは出来ませんでしたが、柚希ジムの結束を高めることが出来ました。<br/>
        応援ありがとうございました。</p>
      </li>
    </ul>
  </div>
</section>
<section class="about_area">
  <div class="about_area2">
    <h1 class="about_title"><span id="title_txt">企業概要</span></h1>
    <section class="home_company_title">
      <h3>" Hard Enjoy "</h3>
    </section>
    <p class="box_txt">柚希ジムの理念、沿革、所在地等をご紹介します。</p>
    <div class="session_btn"><%= link_to "詳しく見る", company_path, :class => "btn" %></div><!-- ボタンのデザイン -->
  </div>
</section>
<section class="work_area">
  <div class="work_area2">
    <h1 class="work_title">活動内容</h1>
    <%= image_tag(image_path("dance2"), alt:"dance", :class => "session_image") %>
    <p class="box_txt">
      本気で遊び、本気で楽しむ中で得た、多くの人たちと創ってきた"楽しい"をカタチにしたいという想いで日々活動しています。
    </p>
    <div class="session_btn">
        <%= link_to "詳しく見る", work_path, :class => "btn"%>
    </div>
  </div>
</section>
<section class="recruit_area">
  <div class="recruit_area2">
    <h1 class="recruit_title">採用情報</h1>
    <%= image_tag(image_path("macmen"), alt:"recruit", :class => "session_image") %>
    <p class="box_txt">
      私たちと一緒に"楽しい"をつくる意欲のある方をお待ちしております。
    </p>
    <div class="session_btn"><%= link_to "詳しく見る", recruit_path, :class => "btn" %></div>
  </div>
</section>
