<div class="top" ><!--  とりあえず画像とか決まるまで代用 -->
  <%= image_tag("YZKmen1.jpeg", alt:"YZKmen", :class => "top_image") %>
  <h1>楽しいを探しに行こう。</h1>
  <p>Fun is always nearby us.</p>
  <a href="/about" class="about_btn">About us</a><!-- contactボタンを作るかも　5/9 -->
</div>
<section class="news_area" >
  <div class="news_area2">
    <h1 class="news_title">お知らせ</h1>
    <ul class="news_list">
      <li class="news_item"><a href="#">
        <span>xxxx/xx/xx</span>
        <p>ニュース を 入れる</p></a>
      </li>
      <li class="news_item"><a href="#">
        <span>xxxx/xx/xx</span>
        <p>ニュース を 入れる</p></a>
      </li>
      <li class="news_item"><a href="#">
        <span>xxxx/xx/xx</span>
        <p>ニュース を 入れる</p></a>
      </li>
    </ul>
  </div>
</section>
<section class="about_area"><!-- フォント未確定　シャドーの確認-->
  <div class="about_area2">
    <h1 class="about_title"><span id="title_txt">企業概要</span></h1>
    <%= image_tag("miu.jpg", alt:"YZKmiu", :class => "session_image") %>
    <a class="box_title">私たちについて</a>
    <a class="box_txt">ここにずらーっとかく</a><!-- 画像を入れるか考える -->
    <div class="session_btn"><%= link_to "もっと見る", about_path %></div><!-- ボタンのデザイン -->
  </div>
</section>
<section class="work_area">
  <div class="work_area2">
    <h1 class="work_title"><span id="title_txt">業績紹介</span></h1>
    <%= image_tag("omochi1.jpg", alt:"omochi", :class => "session_image") %>
    <a class"box_title">活動内容</a>
    <a class="box_txt">ここにずらーっとかく</a>
    <div class="session_btn"><%= link_to "もっと見る", work_path %></div>
  </div>
</section>
<section class="recruit_area">
  <div class="recruit_area2">
    <h1 class="recruit_title"><span id="title_txt">採用情報</span></h1>
    <%= image_tag("omochi2.jpg", alt:"omochi", :class => "session_image") %>
    <a class="box_title">採用情報</a>
    <a class="box_txt">ここにずらーっとかく</a>
    <div class="session_btn"><%= link_to "もっと見る", recruit_path %></div>
  </div>
</section>
<section class="trainning_area">
  <div class="trainning_area2">
    <h1 class="trainning_title"><span id="title_txt">人材育成</span></h1>
    <%= image_tag("omochi3.jpg", alt:"omochi", :class => "session_image") %>
    <a class="box_title">人材育成</a>
    <a class="box_txt">ここにずらーっとかく</a>
    <div class="session_btn"><%= link_to "もっと見る", trainning_path %></div>
  </div>
</section>
