<div class="top" ><!--  とりあえず画像とか決まるまで代用 -->
  <%= image_tag(image_path("program.jpg"), alt:"YZKmen", :class => "top_image") %>
</div>
<section class="news_area" >
  <div class="news_area2">
    <h1 class="news_title">お知らせ</h1>
    <ul class="news_list">
      <li class="news_item"><a href="#">
        <span>2018/05/09</span>
        <p>ニュース を 入れる</p></a>
      </li>
      <li class="news_item"><a href="#">
        <span>xxxx/xx/xx</span>
        <p>ニュース を 入れる</p></a>
      </li>
      <li class="news_item"><a href="#">
        <span>xxxx/xx/xx</span>
        <p>ニュース を 入れる</p></a>
      </li>
    </ul>
  </div>
</section>
<section class="about_area">
  <div class="about_area2">
    <h1 class="about_title">企業概要</h1>
    <%= image_tag(image_path("miu.jpg"), alt:"YZKmiu", :class => "session_image") %>
    <a>私たちについて</a>
    <a class="box_txt">ここにずらーっとかく</a><!-- 画像を入れるか考える -->
    <div class="session_btn"><%= link_to "もっと見る", company_path %></div><!-- ボタンのデザイン -->
  </div>
</section>
<section class="work_area">
  <div class="work_area2">
    <h1 class="work_title">活動内容</h1>
    <%= image_tag(image_path("omochi1.jpg"), alt:"omochi", :class => "session_image") %>
    <p class="box_txt">
        　私たちは、どのような事にも本気で取り組み、本気で楽しむことによって日々成長し続け、
      その過程で得た知識や経験をを活かし、新たな”楽しい”を多くの人々と共有するために挑戦し続けます。
    </p>
    <div class="session_btn"><%= link_to "もっと見る", work_path %></div>
  </div>
</section>
<section class="recruit_area">
  <div class="recruit_area2">
    <h1 class="recruit_title">採用情報</h1>
    <%= image_tag(image_path("omochi2.jpg"), alt:"omochi", :class => "session_image") %>
    <p class="box_txt">
       　共に成長し続け、どのようなことにも前向きに取り組める人材を常に求めています。
       また、多くの人々と楽しいを共有し成長するという思想に基づき、共に学び共に成長するという育成方針を掲げ、
       他者と協力し合い、多方面で活躍できる人材の育成を目指しております。
    </p>
    <div class="session_btn"><%= link_to "もっと見る", recruit_path %></div>
  </div>
</section>
