<div class="top" ><!--  とりあえず画像とか決まるまで代用 -->
  <% @page_title = "楽しいを探しに行こう。" %>
  <%= image_tag(image_path("recruit"), alt:"YZKmen", :class => "top_image") %>
</div>
<section class="news_area" >
  <div class="news_area2">
    <h1 class="news_title">お知らせ</h1>
    <ul class="news_list">
      <li class="news_item">
        <span class="news_subtitle">2018/05/09</span>
        <p class="news_subtitle">柚希ジム会員募集中！</p>
        <p>柚希ジムでは、5月20日の柚希未結生誕・引退ライブ＠渋谷WWWに向けて会員募集中です。皆様のご参加お待ちしております。</p>
      </li>
      <li class="news_item">
        <span class="news_subtitle">2018/5/9</span>
        <p class="news_subtitle">弊社コーポレートサイトを新設致しました。</p>
        <p>柚希ジム プログラミング研修の一環として、コーポレートサイトを新設致しました。<br/>
        今後ともよろしくお願い致します。</p>
      </li>
      <li class="news_item">
        <span class="news_subtitle">2016/10/29</span>
        <p class="news_subtitle">幻影ギャラクティカフリコピ選手権出場。</p>
        <p>27時間HNG2016 内の『幻影ギャラクティカフリコピ選手権』に出場致しました。<br/>
        優勝することは出来ませんでしたが、柚希ジムの結束を高めることが出来ました。<br/>
        応援ありがとうございました。</p>
      </li>
    </ul>
  </div>
</section>
<section class="about_area">
  <div class="about_area2">
    <h1 class="about_title"><span id="title_txt">企業概要</span></h1>
    <%= image_tag(image_path("miu"), alt:"YZKmiu", :class => "session_image") %>
    <a>私たちについて</a>
    <a class="box_txt">ここにずらーっとかく</a><!-- 画像を入れるか考える -->
    <div class="session_btn"><%= link_to "詳しく見る", company_path, :class => "btn" %></div><!-- ボタンのデザイン -->
  </div>
</section>
<section class="work_area">
  <div class="work_area2">
    <h1 class="work_title">活動内容</h1>
    <%= image_tag(image_path("dance2"), alt:"dance", :class => "session_image") %>
    <p class="box_txt">
        　本気で遊び、本気で楽しむ中で得た、多くの人たちと創ってきた”楽しい”をカタチにしたいという想いで日々活動しています。
    </p>
    <div class="session_btn">
        <%= link_to "詳しく見る", work_path, :class => "btn"%>
    </div>
  </div>
</section>
<section class="recruit_area">
  <div class="recruit_area2">
    <h1 class="recruit_title">採用情報</h1>
    <%= image_tag(image_path("macmen"), alt:"recruit", :class => "session_image") %>
    <p class="box_txt">
      私たちと一緒に"楽しい"をつくる意欲のある方の応募をお待ちしております。
    </p>
    <div class="session_btn"><%= link_to "詳しく見る", recruit_path, :class => "btn" %></div>
  </div>
</section>
