<footer>
  <div class="footer_content">
    <div class="footer_item">
      <ul><%= link_to "企業概要", company_path %></ul>
      <ul><%= link_to "活動内容", work_path %></ul>
      <ul><%= link_to "採用情報", recruit_path %></ul>
    </div>
    <div class="footer_item">
      <ul><%= link_to "プライバシーポリシー" , privacy_path %></ul>
      <ul><%= link_to "サイトのご案内" ,"#" %></ul>
    </div>
  </div>
  <div class="footer_logo"></div>
  <p class="footer_copy">© Yzk-Gym LLC.</p>
</footer>
