<head>
  <script>
  window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
  </script>
<head>
<footer>
  <div class="footer_content">
    <div class="footer_item">
      <ul><%= link_to "企業概要", company_path %></ul>
      <ul><%= link_to "活動内容", work_path %></ul>
      <ul><%= link_to "採用情報", recruit_path %></ul>
    </div>
    <div class="footer_item">
      <ul><%= link_to "プライバシーポリシー" , privacy_path %></ul>
      <ul><%= link_to "サイトのご案内" ,"#" %></ul>
      <!-- シェアボタンに変換される -->
      <a class="twitter-share-button" href="https://twitter.com/share" data-dnt="true" target="_blank">Tweet</a>
    </div>
  </div>
  <div class="footer_logo"></div>
  <p class="footer_copy">© Yzk-Gym LLC.</p>
</footer>
