<footer>
  <div class="footer_content">
    <div class="footer_item">
      <ul><%= link_to "企業概要", company_path %></ul>
      <ul><%= link_to "活動内容", work_path %></ul>
      <ul><%= link_to "採用情報", recruit_path %></ul>
    </div>
    <div class="footer_item">
      <ul><%= link_to "プライバシーポリシー" , privacy_path %></ul>
      <ul><%= link_to "サイトのご説明" ,expo_path %></ul>
      <!-- シェアボタンに変換される -->
      <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"
      data-hashtags="柚希ジム">Tweet</a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
  <div class="footer_logo"></div>
  <p class="footer_copy">© Yzk-Gym LLC.</p>
</footer>
