<header class="navbar navbar-fixed-top"><!-- アス比が変わっても崩れないように要css調整 文字の色　-->
  <div>
    <nav>
      <ul class="nav navbar-nav">
        <li><%= link_to "企業理念",   about_path %></li>
        <li><%= link_to "実績紹介", work_path %></li>
        <!-- <li><%= link_to "Member", member_path %></li> interviewに変更するかも　-->
        <li><%= link_to "ニュース", news_path %></li>
        <li><%= link_to "採用情報", recruit_path %></li>
        <li><%= link_to "人材育成", trainning_path %></li><!-- 採用と同じでいいかも　-->
      </ul>
    </nav>
    <%= link_to image_tag("Yzk-Gym-logo2.svg", alt:"Yzk-Gym-logo", :class => "logo"),
                root_url %>
  </div>
</header>
