<header class="navbar navbar-fixed-top navbar-inverse">
  <div class ="container">
    <%= link_to image_tag("Yzk-Gym-logo1.png", alt:"Yzk-Gym-logo"),
                root_url %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "About",   '#' %></li>
        <li><%= link_to "Company",   '#' %></li>
        <li><%= link_to "Member", '#' %></li>
        <li><%= link_to "News", "#" %></li>
        <li><%= link_to "Recruit", "#" %></li>
        <li><%= link_to "Trainning", "#" %></li>
        <li><%= link_to "Work", "#" %></li>
      </ul>
    </nav>
  </div>
</header>
