<head>
  <meta charset="UTF-8">
  <title><%= page_title %></title>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="柚希ジム｜楽しいを探しに行こう。">
  <meta name="twitter:description" content="合同会社柚希ジム コーポレートサイト">
  <meta name="twitter:image" content="<%= image_path("http://yzk-gym.com/assets/twitter_card_logo.jpg") %>" />
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/shim' %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>