<head>
  <meta charset="UTF-8">
  <title><%= page_title %></title>
  <meta name="twitter:card" content="summary">
  <property="twitter:title" content="柚希ジム｜楽しいを探しに行こう。">
  <property="twitter:description" content="合同会社柚希ジム コーポレートサイト">
  <property="twitter:image" content="#">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/shim' %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
