<!DOCTYPE html>
<html>
<% if request.from_smartphone? %>
  <%= render 'layouts/rails_default' %>
  <body>
      <%= render 'layouts/header' %>
      <div class="container">
        <%= yield %>
        <%= render 'layouts/footer' %>
        <div class="debug_dump"><%= debug(params) if Rails.env.development? %></div>
      </div>
  </body>
  <% else  %>
  <h1>申し訳ございません。只今準備中です。</h1>
    <h1>スマートフォン版をご利用ください</h1>
        <%= image_tag(image_path("resetsan"), alt:"Mr.resert", :class=> "reset_san") %>
  <% end %>
</html>
